body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav .wrapper {
    padding: 12px;
}

.sidenav h3 {
    color: #FFF;
}

.sidenavLeft {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenavRight {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.admin-bar .sidenav {
    margin-top: 32px;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #00a0df;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #66c6eb;
}

.sidenav a.closebtn {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #818181;
}

.sidenav a.closebtn:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#page {
    transition: margin .5s;
}

.opinion-share-title {
    text-align: center;
}

.ps-answers {
    margin: 0px auto;
    width: 50%;
}

.os-answer.os-answer-yes {
    display: grid;
    width: 50%;
    padding: 15px;
    float: left;
}

.os-answer.os-answer-no {
    display: grid;
    width: 50%;
    padding: 15px;
    float: right;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}